.centralizar-tudo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    min-height: 100vh;
    padding: 40px 20px 20px 20px; 
    box-sizing: border-box;
    background-color: #f5f5f5;
  }
  